
# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
tempCodeRunnerFile.py

# --- Environment & secrets ---
.env
*.env
.env.*
.envrc

# --- Jupyter Notebooks ---
.ipynb_checkpoints/
*.ipynb~ 

# --- OS files ---
.DS_Store
Thumbs.db

# --- Virtual environments ---
.venv/
venv/
ENV/
env/


# --- Vector store ---
vectorstore
parentstore




.pytest_cache
rag_hockey.egg-info